<% provide(:title, "Contact") %>
<h1  class="display-3">This is contact page  </h1>
<%= link_to image_tag("https://scontent.fsgn2-2.fna.fbcdn.net/v/t1.0-9/17426171_988580891277819_8133814358532162704_n.jpg?oh=a6e5c9c579947c1ef156455f1cfd8bb4&oe=59580F56")"About me", "https://fb.com/dthtien" %>
