<% provide(:title, "Forgot password") %>
<h1>Forgot password</h1>

<div class="row">
  <div class="col m6 offset-m3">
    <%= simple_form_for(:password_reset, url: password_resets_path) do |f| %>
      <%= f.input :email %>

      <%= f.submit class: "btn" %>
    <% end %>
  </div>
</div>