<% provide(:title, "Sign Up") %>
<div id="sign-up">
  <div class="col s12 m12 l12"></div>
    <div class="z-depth-4">
      <h1>Sign Up</h1>
      <div class="sign-up-form">
        <%= render 'form', user: @user, text: "Sign up" %>    
      </div>
    </div>
  </div>
</div>